{
  "course": {
    "course_id": "__COURSE_SLUG__",
    "slug": "__COURSE_SLUG__",
    "title": "__COURSE_TITLE__",
    "source": null,
    "default_language": "__DEFAULT_LANGUAGE__"
  },
  "repository": {
    "visibility": "__VISIBILITY__",
    "version_transcripts": __VERSION_TRANSCRIPTS__,
    "version_generated_references": __VERSION_REFERENCES__
  }
}
